@tailwind base;
@tailwind components;
@tailwind utilities;

.blob {
  position: absolute;
  background-color: rgba(255, 20, 147, 0.2);
  border-radius: 50%;
}

.shadow-bottom {
  box-shadow: 0 4px 8px rgba(255, 20, 147, 0.4); /* Increased shadow size for visibility */
}

/* styles/globals.css */
:root {
  --primary-color: #ff1493;
  --secondary-color: #050f25;
}

body {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
